build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/forge/mods/Registrate-MC1.19-1.1.5.jar
/forge/mods/flywheel-forge-1.19.2-0.6.7-8.jar
